/* Общие стили для формы */
.booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #f7f7f7;
}

/* Общие стили для всех элементов формы */
.booking-form * {
  box-sizing: border-box;
}

/* Стили для заголовков формы */
.booking-form label {
  display: block;
  width: 80%;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2rem;
}

/* Стили для полей ввода формы */
.booking-form input,
.booking-form select,
.booking-form textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #f7f7f7;
  color: #2d2d2d;
  box-shadow: none;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 10px;
}

/* Стили для селекторов */
.booking-form select {
  height: 40px;
  background-color: #ffffff;
}

/* Стили для кнопок формы */
.booking-form button[type="submit"],
.booking-form button[type="button"] {
  width: 150px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #5181b8;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

/* Стили для кнопки "Отменить" */
.booking-form button[type="button"] {
  background-color: #7f8fa4;
}

/* Добавляем отступы между элементами формы */
.booking-form > * + * {
  margin-top: 10px;
}
